<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   
</head>
<script>

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function () {
        if (xhttp.readyState === 4) {

            alert(xhttp.responseText);
            if(xhttp.responseText.localeCompare("ok")==0){
                location.href = "http://localhost:5400/home";
            }
        }
    }
    function validate() {
        let username = document.getElementById("username").value;

        let password = document.getElementById("password").value;

        var data = { 'username': username, 'password': password };
        let u = new URLSearchParams(data).toString();
        xhttp.open("POST", "/authenticate", true);
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhttp.send(u);
    }
</script>
<style>
    .signupBox {

        margin: auto;
        margin-top: 15px;
        width: 35%;
        padding: 15px;

    }

    .buttonHolder {
        /* width: 220px; */
        margin: auto;
        padding: 5px;
        display: flex;
        align-items: center;


    }

    .buttonSelf {
        margin: auto;
    }
</style>

<body>
    <div class="conatiner">
        <div class="signupBox">
            <div class="inputHolder"><label>Username</label>
                <input name="username" id="username" placeholder="" />
            </div>
           
            <div class="inputHolder"><label>Password</label>
                <input name="password" id="password" placeholder="" />
            </div>
           
            <div class="buttonHolder">
                <button class="buttonSelf" onclick="validate()"> Login</button>
            </div>
        </div>
    </div>
</body>

</html>